<%- include('./layout/header') %>

<h1>chat</h1>

<p>How are you: <%= user.get('username') %></p>

<div id="room">
    <ul></ul>
    <form>
        <input class="form-control" autocomplete="off" autofocus placeholder="Message ....">
    </form>
</div>


<script>
    var socket = io.connect('', {
        'reconnection delay': 1
    });
    var input = $('#room input');
    var ul = $('#room ul');
    var form = $('#room form');

    /*
     form.submit(function () {
     var input = $(this).find(':input');
     var text = input.val();
     input.val('');

     console.log('message client emit: ', text);
     socket.emit('message', text, function (data) {
     $('<li>', {text: text}).appendTo(ul);
     });

     return false;
     });
     */

    form.submit(sendMessage);



    socket.on('message', function (username, text) {
                printMessage(username + ' > ' + text)
            })
            .on('leave', function (username) {
                printStatus(username + ' got out');
            })
            .on('join', function (username) {
                printStatus(username + ' entered to the chat');
            })
            .on('connect', function () {
                printStatus('Connection in action');
                form.on('submit', sendMessage);
            })
            .on('disconnect', function () {
                printStatus('Connection was loosing');
                form.off('submit', sendMessage);
                input.prop('disabled', true);
                // setTimeout(reconnect, 500);
            })
            .on('logout', function () {
                location.href = '/';
            })
            .on('error', function (reason) {
                printStatus('You got error and was disconected');
            })
            .on('reconnect_failed', function () {
                alert('Connetion was died for ages!!!!!');
            });

    function sendMessage() {
        var text = input.val();
        console.log('cleint sendMessage text:', text);
        socket.emit('message', text, function () {
            console.log('cleint emit text:', text);
            printMessage(text);
        });

        input.val('');
        return false;
    }

    function printStatus(text) {
        console.log('cleint printStatus!!!!!!!!!!:', text);
        $('<li>').append($('<i>', {text: text})).appendTo(ul);
    }

    function printMessage(text) {
        console.log('cleint printMessage:', text);
        $('<li>', {text: text}).appendTo(ul);
    }
</script>

<%- include('./layout/footer') %>