<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>

    <link rel='stylesheet' href='/libs/bower_components/bootstrap/dist/css/bootstrap.css'/>
    <link rel='stylesheet' href='/css/style.css'/>

    <script src="/libs/bower_components/jquery/dist/jquery.js"></script>
    <script src="/libs/bower_components/bootstrap/dist/js/bootstrap.js"></script>

</head>
<body>
<%- include('./../partial/topNavigation') %>