doctype html
html(lang="en")
    head
        title= title
        link(rel='stylesheet', href='/libs/bower_components/bootstrap/dist/css/bootstrap.css')
        link(rel='stylesheet', href='/css/app.css')

        script(src='/libs/bower_components/jquery/dist/jquery.js')
        script(src='/libs/bower_components/bootstrap/dist/js/bootstrap.js')
        script(src='/libs/bower_components/socket.io-client/socket.io.js')
    body
        include ./../partial/top-nav.jade
        section(class='container')
            block content
        include ./../partial/footer.jade
